page-mapa-analitico-vendas {

.label2{
    font-size: 14px;
    font-weight: bold;
}

.ioncard{
    background-color: #0a3886; 
    color: aliceblue;
}

.borda{

    border-bottom: solid darkgray;

}

}
